In [93]:
#importing libraries
import numpy as np
import pandas as pd

In [94]:
# reading dataset
df = pd.read_csv('weather_dataset.csv')
df.head(10)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,2022-01-01,'37.8','35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022-01-06','24.8','42.0','4.6','29.8','16.0','23.9','276.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022-01-07','34.2','60.0','21.6','29.7','20.4','30.0','276.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2022-01-08','42.1','41.0','20.0','29.8','17.5','25.2','265.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2022-01-09','30.3','46.0','11.4','30.0','6.9','10.6','292.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2022-01-10','26.2','38.0','3.6','30.4','18.2','24.6','258.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Subtask 1: Correct years for given data set

In [95]:
df.set_index('Date').sort_index()

,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,Maximum rain per minute,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,'37.8','35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01','8.1','65.0','-2.1','30.4','1.2','2.3','28.0','0.01','0.01','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01','33.4','38.0','10.2','29.6','9.8','14.7','216.0','0.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01','26.9','57.0','13.4','30.1','5.6','8.7','268.0','0.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01','34.6','25.0','0.3','30.2','0.0','0.0','73.0','0.0','0.0','0.0',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
# removing the special character
df.replace('\'','', regex=True, inplace=True)

In [97]:
# removing the special character
df.replace(';','', regex=True, inplace=True)

# Subtask 2: removal of duplicate rows and duplicate Columns

In [98]:
#removal of duplicate rows and duplicate Columns
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3961     True
3962     True
3963     True
3964     True
3965     True
Length: 3966, dtype: bool

In [99]:
df1=df.drop_duplicates()
df1

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2022-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3899,2022-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3900,2022-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3901,2022-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
#drops the unnamed columns
df1.drop(df1.columns[df1.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df1

C:\Users\Bindu Devalam\AppData\Local\Temp\ipykernel_11056\853236788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(df1.columns[df1.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2022-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,90.0,36.0,29.781,29.645,8.1,17.3,77.5,2022-07-25,07,0.13599999999999923
3899,2022-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,90.0,40.0,29.93,29.745,11.5,15.0,77.5,2022-07-26,07,0.18499999999999872
3900,2022-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,96.0,35.0,29.941,29.781,13.8,18.4,78.2,2022-07-27,07,0.16000000000000014
3901,2022-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,94.0,35.0,29.792,29.675,17.3,26.5,77.6,2022-07-28,07,0.11700000000000088
3902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
#drop the Nan rows
df1.dropna(axis=0,inplace=True)
df1

C:\Users\Bindu Devalam\AppData\Local\Temp\ipykernel_11056\2479407855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(axis=0,inplace=True)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,2022-07-24,64.1,62.0,49.8,29.6,3.6,5.8,240.0,0.24,4.38,...,86.0,35.0,29.686,29.577,15.0,25.3,77.4,2022-07-24,07,0.10899999999999821
3898,2022-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,90.0,36.0,29.781,29.645,8.1,17.3,77.5,2022-07-25,07,0.13599999999999923
3899,2022-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,90.0,40.0,29.93,29.745,11.5,15.0,77.5,2022-07-26,07,0.18499999999999872
3900,2022-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,96.0,35.0,29.941,29.781,13.8,18.4,78.2,2022-07-27,07,0.16000000000000014
3901,2022-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,94.0,35.0,29.792,29.675,17.3,26.5,77.6,2022-07-28,07,0.11700000000000088

In [102]:
# Removing the date 2022-02-29 because there is no 29th in february in leap year
df1 = df1[df1.Date != '2022-02-29']
df1

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,2022-07-24,64.1,62.0,49.8,29.6,3.6,5.8,240.0,0.24,4.38,...,86.0,35.0,29.686,29.577,15.0,25.3,77.4,2022-07-24,07,0.10899999999999821
3898,2022-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,90.0,36.0,29.781,29.645,8.1,17.3,77.5,2022-07-25,07,0.13599999999999923
3899,2022-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,90.0,40.0,29.93,29.745,11.5,15.0,77.5,2022-07-26,07,0.18499999999999872
3900,2022-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,96.0,35.0,29.941,29.781,13.8,18.4,78.2,2022-07-27,07,0.16000000000000014
3901,2022-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,94.0,35.0,29.792,29.675,17.3,26.5,77.6,2022-07-28,07,0.11700000000000088

# Subtask 3: fix a few labels in the given data set

In [104]:
#finding the datatypes
df1.dtypes

Date                        object
 Temperature                object
 Average humidity (%        object
 Average dewpoint (°F       object
 Average barometer (in      object
 Average windspeed (mph     object
 Average gustspeed (mph     object
 Average direction (°deg    object
 Rainfall for month (in     object
Rainfall for year (in       object
 Maximum rain per minute    object
 Maximum temperature (°F    object
 Minimum temperature (°F    object
 Maximum humidity (%        object
 Minimum humidity (%        object
 Maximum pressure           object
 Minimum pressure           object
 Maximum windspeed (mph     object
 Maximum gust speed (mph    object
 Maximum heat index (°F     object
Date1                       object
 Month                      object
 diff_pressure              object
dtype: object

In [105]:
# converting all to float except date, date1
cols=[' Temperature', ' Average humidity (%', ' Average dewpoint (°F',
       ' Average barometer (in', ' Average windspeed (mph',
       ' Average gustspeed (mph', ' Average direction (°deg',
       ' Rainfall for month (in', 'Rainfall for year (in',
       ' Maximum rain per minute', ' Maximum temperature (°F',
       ' Minimum temperature (°F', ' Maximum humidity (%',
       ' Minimum humidity (%', ' Maximum pressure', ' Minimum pressure',
       ' Maximum windspeed (mph', ' Maximum gust speed (mph',
       ' Maximum heat index (°F', ' diff_pressure']
df1[cols]=df1[cols].apply(pd.to_numeric,errors='coerce',axis=1) 
df1.dtypes

C:\Users\Bindu Devalam\AppData\Local\Temp\ipykernel_11056\1043393888.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[cols]=df1[cols].apply(pd.to_numeric,errors='coerce',axis=1)

Date                         object
 Temperature                float64
 Average humidity (%        float64
 Average dewpoint (°F       float64
 Average barometer (in      float64
 Average windspeed (mph     float64
 Average gustspeed (mph     float64
 Average direction (°deg    float64
 Rainfall for month (in     float64
Rainfall for year (in       float64
 Maximum rain per minute    float64
 Maximum temperature (°F    float64
 Minimum temperature (°F    float64
 Maximum humidity (%        float64
 Minimum humidity (%        float64
 Maximum pressure           float64
 Minimum pressure           float64
 Maximum windspeed (mph     float64
 Maximum gust speed (mph    float64
 Maximum heat index (°F     float64
Date1                        object
 Month                       object
 diff_pressure              float64
dtype: object

In [106]:
#converting month to int
df1[' Month'] = df1[' Month'].astype(int)
df1.dtypes

C:\Users\Bindu Devalam\AppData\Local\Temp\ipykernel_11056\3429436931.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[' Month'] = df1[' Month'].astype(int)

Date                         object
 Temperature                float64
 Average humidity (%        float64
 Average dewpoint (°F       float64
 Average barometer (in      float64
 Average windspeed (mph     float64
 Average gustspeed (mph     float64
 Average direction (°deg    float64
 Rainfall for month (in     float64
Rainfall for year (in       float64
 Maximum rain per minute    float64
 Maximum temperature (°F    float64
 Minimum temperature (°F    float64
 Maximum humidity (%        float64
 Minimum humidity (%        float64
 Maximum pressure           float64
 Minimum pressure           float64
 Maximum windspeed (mph     float64
 Maximum gust speed (mph    float64
 Maximum heat index (°F     float64
Date1                        object
 Month                        int32
 diff_pressure              float64
dtype: object

In [107]:
# renaming the columns properly
df1.set_axis(['Date', 'Temperature', 'Average humidity (%)', 'Average dewpoint (°F)',
       'Average barometer (in)', 'Average windspeed (mph)',
       'Average gustspeed (mph)', 'Average direction (°deg)',
       'Rainfall for month (in)', 'Rainfall for year (in)', 'Maximum rain per minute',
           'Maximum temperature (°F)', 'Minimum temperature (°F)',
           'Maximum humidity (%)' , 'Minimum humidity (%)', 'Maximum pressure','Minimum pressure',
           'Maximum windspeed (mph)', 'Maximum gust speed (mph)','Maximum heat index(°F)', 'Date1',
           'Month','diff_pressure'], axis='columns', inplace=True)

In [108]:
df1.dtypes

Date                         object
Temperature                 float64
Average humidity (%)        float64
Average dewpoint (°F)       float64
Average barometer (in)      float64
Average windspeed (mph)     float64
Average gustspeed (mph)     float64
Average direction (°deg)    float64
Rainfall for month (in)     float64
Rainfall for year (in)      float64
Maximum rain per minute     float64
Maximum temperature (°F)    float64
Minimum temperature (°F)    float64
Maximum humidity (%)        float64
Minimum humidity (%)        float64
Maximum pressure            float64
Minimum pressure            float64
Maximum windspeed (mph)     float64
Maximum gust speed (mph)    float64
Maximum heat index(°F)      float64
Date1                        object
Month                         int32
diff_pressure               float64
dtype: object

# Subtask 4: Encoding

In [111]:
df1.to_csv('my_result.csv', encoding='utf-8', index=False)